<ion-content *ngIf="uye | async as user else oturumAcilmamis">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>Ana Sayfa</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button menu="menum"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row class="ion-margin-top">
      <ion-col>
        <ion-title>Gönderiler </ion-title>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col>
        <ion-button color="dark" expand="block" id="ekle-modal">Bir Gönderi Ekle</ion-button>
      </ion-col>
    </ion-row>

    <ion-card *ngFor="let gonderi of gonderiler">
      <ion-item>
        <ion-avatar item-start>
          {{kullaniciGonderiById(gonderi)}}
          <img
            [src]=" secKullanici.foto ?? 'https://firebasestorage.googleapis.com/v0/b/ionicdata-ed3d0.appspot.com/o/pngwing.com.png?alt=media&token=ff1d8a04-fdf8-4146-a31a-71750cca08ac'">
        </ion-avatar>
        {{kullaniciGonderiById(gonderi)}}
        <h2>{{secKullanici.displayName}}</h2>
      </ion-item>
      <ion-card-content>
        <p>{{gonderi.gonderi}}</p>
      </ion-card-content>
      <ion-row>
        <ion-col align-self-center text-center>
          <ion-note>
            &nbsp; &nbsp; {{gonderi.gonderiTarihi | date:'dd.MM.yyyy HH:mm:ss'}}
          </ion-note>
          <div>
            <ion-button id="{{gonderi.gonderiId}}-modal" (click)="gonderiDuzenle(gonderi)" size="small"
              class="ion-margin-start" *ngIf="gonderi.uid == user.uid || user.rol == '0' ">Düzenle</ion-button>
            <ion-button id="{{gonderi.gonderiId}}-silmeModal" size="small" class="ion-margin-start"
              *ngIf="gonderi.uid == user.uid || user.rol == '0' " color="danger"
              (click)="gonderiSil(gonderi)">Sil</ion-button>
          </div>

        </ion-col>
      </ion-row>


      <!-- DÜZENLEME  -->

      <ion-modal #duzenlemeModal trigger="{{gonderi.gonderiId}}-modal" [presentingElement]="presentingElement2">
        <ng-template>
          <form [formGroup]="gonderiDuzenleme" (ngSubmit)="gonderiDuzenleKaydet()">
            <ion-header>
              <ion-toolbar color="dark">
                <ion-title>Gönderi Düzenleme</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="duzenlemeModal.dismiss()">Vazgeç</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-list>
              <ion-item>
                <ion-textarea type="text" #gonderi
                  placeholder="Bir şeyler yaz... Ne düşünüyorsun veya nasıl hissediyorsun ?" [autoGrow]="true"
                  [clearOnEdit]="true" [autofocus]="true" [minlength]="3" required
                  formControlName="gonderi"></ion-textarea>

              </ion-item>
            </ion-list>
            <ion-row>
              <ion-col>
                <ion-button expand="block" color="dark"><ion-input value="Gönder" type="submit"
                    (click)="duzenlemeModal.dismiss()"></ion-input></ion-button>
              </ion-col>
            </ion-row>
          </form>
        </ng-template>
      </ion-modal>

      <!-- SİLME  -->

      <ion-modal #silmeModal trigger="{{gonderi.gonderiId}}-silmeModal" [presentingElement]="presentingElement2"
        [initialBreakpoint]="0.25" [breakpoints]="[0, 0.25, 0.5, 0.75]" handleBehavior="cycle">
        <ng-template>
          <ion-header>
            <ion-toolbar color="dark">
              <ion-title>Gönderi Silme</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content>
            <p>{{secGonderi.gonderiTarihi | date:'dd.MM.yyyy HH:mm:ss'}} tarihli gönderiniz silinecektir.</p>
            <p>Onaylıyor Musunuz ?</p>
            <ion-row>
              <ion-col>
                <ion-button (click)="gonderiSilKaydet()" color="danger" expand="block">Sil</ion-button>
              </ion-col>
              <ion-col>
                <ion-button (click)="silmeModal.dismiss()" expand="block">Vazgeç</ion-button>
              </ion-col>
            </ion-row>


          </ion-content>



        </ng-template>
      </ion-modal>


    </ion-card>

  </ion-grid>


  <!-- EKLEME  -->


  <ion-modal #modalekleme trigger="ekle-modal" [presentingElement]="presentingElement1">
    <ng-template>
      <form [formGroup]="gonderiEkleme" (ngSubmit)="Kaydet()">
        <ion-header>
          <ion-toolbar color="dark">
            <ion-title>Gönderi Ekleme</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="modalekleme.dismiss()">Vazgeç</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-list>
          <ion-item>
            <ion-textarea type="text" #gonderi
              placeholder="Bir şeyler yaz... Ne düşünüyorsun veya nasıl hissediyorsun ?" [autoGrow]="true"
              [clearOnEdit]="true" [autofocus]="true" [minlength]="3" required formControlName="gonderi"></ion-textarea>

          </ion-item>
        </ion-list>
        <ion-row>
          <ion-col>
            <ion-button expand="block" color="dark"><ion-input value="Gönder" type="submit"
                (click)="modalekleme.dismiss()"></ion-input></ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ng-template>
  </ion-modal>



</ion-content>
<ng-template #oturumAcilmamis>

  <ion-label routerLink="/login" color="danger">Oturum Açmadan Görüntüleme Yapamazsınız</ion-label>

  <!-- OTURUM AÇTIYSA OTURUM AÇ YERİNE PROFİL KOY  -->
</ng-template>